body {
    margin: 0;
    text-align: center;
       font-family: 'Merriweather', serif;

}
.pro {
    text-decoration: underline;
}
h1 {
        margin: 50px auto 0 auto;
        font-family: 'Sacramento', cursive;
        font-size: 5.625rem;
        color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top-container {
     background-color: #EAF6F6;
     position: relative;
     padding-top: 100px;
     
}
.profile {
    width: 30%;
    margin: auto;
    padding-top: 50px;
}
.me {
    color: #40514E;
    
}
.middle-container {

}
.bottom-container {
margin-top: 70px;
background-color: #66BFBF;
padding: 50px 0 20px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.coding {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.time-management {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px; 
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
a {
    color: #11999E;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
        width: 4%;
      margin: 100px auto;
}
p {
    padding-bottom: 30px;
}
.btn {
    margin-top: 100px;
    border-radius: 8px;
    background-color: #11999E;
    color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(#11cdd4, #11999e);
}
.btn:hover {
    background-image: linear-gradient(#30e3cb, #2bc4ad);
}
a {
color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover {
color: #EAF6F6;
}
.ruby {
        color: #EAF6F6;
        font-size: 0.75rem;
        padding: 20px 0;
}